.activeMenu {
  background-color: #1890ff !important;
  color: #fff !important;
}

.inactiveMenu {
  background-color: inherit !important;
  color: inherit !important;
}

.inactiveMenu:hover {
  background-color: #1890ff !important;
  color: #fff !important;
}

.logout {
  float: right;
  background: red;
  border: none;
  margin-top: 15px;
}
